<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.bandDetailMapper">

<select id ="bandMember" parameterType="string" resultType="Model.MemberDTO">
	select MEM_ID memId, MEM_PW memPw, MEM_NAME memName, MEM_PHONE memPhone, 
	      MEM_SINCE memSince, MEM_GENDER memGender, MEM_DOB memDob, 
	      MEM_EMAIL memEmail, MEM_AREA memArea, MEM_EMAIL_CK memEmailCk
	from member
	where MEM_ID in (select mem_id from band_join where band_no = #{bandNo} and mem_allow is not null)
</select>

 <update id="bandAllow" parameterType="string">
 	update band_join
 	set MEM_ALLOW = 'Y'
 	where MEM_ID = #{memId}
 </update>

 <delete id="bandAllowDel" parameterType="string">
 	delete from band_join
 	where MEM_ID = #{memId}
 </delete>

<select id ="bandAllowMember" parameterType="string" resultType="Model.MemberDTO">
	select MEM_ID memId, MEM_PW memPw, MEM_NAME memName, MEM_PHONE memPhone, 
	      MEM_SINCE memSince, MEM_GENDER memGender, MEM_DOB memDob, 
	      MEM_EMAIL memEmail, MEM_AREA memArea, MEM_EMAIL_CK memEmailCk
	from member
	where MEM_ID in (select mem_id from band_join where band_no = #{bandNo} and mem_allow is null)
</select>

<select id="updateNotice" parameterType="Model.BandNoticDTO" >
	update band_notice
	set  NOTICE_SUB = #{noticeSub} , NOTICE_CON = #{noticeCon}
	where notice_no = #{noticeNo}
</select>

<select id="myselect" parameterType="string"  resultType="Model.BandNoticDTO">
    select BAND_NO bandNo ,MEM_ID memId ,notice_no noticeNo,  NOTICE_SUB noticeSub, NOTICE_CON noticeCon ,NOTICE_DATE noticeDate,
     NOTICE_CATEGORY noticeCategory
	from band_notice
	where  MEM_ID = #{memId}

</select>
<delete id="deleteNotice" parameterType="string">
	delete from band_notice
	where notice_no = #{noticeNo}
</delete>
<select id="noticeDetail" parameterType="string"  resultType="Model.BandNoticDTO">
	select BAND_NO bandNo ,MEM_ID memId ,NOTICE_NO noticeNo,  NOTICE_SUB noticeSub, NOTICE_CON noticeCon ,NOTICE_DATE noticeDate,
     NOTICE_CATEGORY noticeCategory
	from band_notice
	where notice_no = #{noticeNo}
</select>

<select id="selectDetail" parameterType="string" resultType="Model.BandNoticDTO">
	select BAND_NO bandNo ,MEM_ID memId,NOTICE_NO noticeNo,NOTICE_SUB noticSub,NOTICE_CON noticeCon,NOTICE_DATE noticeDate,
	 NOTICE_CATEGORY noticeCategory
	from band_notice
	where NOTICE_NO = #{noticeNo}
</select>

<insert id = "bandNotice" parameterType="Model.BandNoticDTO">
	insert into band_notice(BAND_NO ,MEM_ID,NOTICE_NO,NOTICE_SUB,NOTICE_CON,NOTICE_DATE, NOTICE_CATEGORY, NOTICE_FILE)
	values(#{bandNo},#{memId},(select nvl(max(notice_no), 0) +1 from band_notice),#{noticeSub},#{noticeCon},sysdate,#{noticeCategory},null)
</insert>

<select id="selectAll" resultType="Model.BandNoticDTO" parameterType="long">
	select n.BAND_NO bandNo,  n.MEM_ID memId, NOTICE_NO noticeNo, NOTICE_SUB noticeSub, NOTICE_CON noticeCon, NOTICE_DATE noticeDate, 
	NOTICE_CATEGORY noticeCategory, NOTICE_FILE noticeFile, b.mem_id memId2 
	from band_notice n, band b
	where n.BAND_NO = b.BAND_NO and n.BAND_NO = #{bandNo}
</select>

<!-- 개설자 확인 -->
<select id="bandDetail"  parameterType="Model.BandDTO" resultType="Model.BandDTO">
	select BAND_NO bandNo, MEM_ID memId, BAND_NAME bandName, BAND_CATEGORY_L bandCategoryL, BAND_CATEGORY_S bandCategoryS,
	BAND_IMG bandImg, BAND_REGIDAY bandRegiDay, BAND_INTRODUCE bandIntroduce, BAND_GENDER bandGender, BAND_WAY bandWay, BAND_TOTAL bandTotal,
	BAND_PUBLIC bandPublic, BAND_AGE bandAge
	from band
	where BAND_NO = #{bandNo} and MEM_ID = #{memId}
</select>

<select id="bandWish" parameterType="Model.BandDTO" resultType="Model.BandWishDTO">
	select BAND_NO bandNo, MEM_ID memId, MEM_ID2 memId2
	from band_Wishlist
    where BAND_NO = #{bandNo} and MEM_ID2 = #{memId}
</select>

<select id="band"  parameterType="long" resultType="Model.BandDTO">
	select BAND_NO bandNo, MEM_ID memId, BAND_NAME bandName, BAND_CATEGORY_L bandCategoryL, BAND_CATEGORY_S bandCategoryS,
	BAND_IMG bandImg, BAND_REGIDAY bandRegiDay, BAND_INTRODUCE bandIntroduce, BAND_GENDER bandGender, BAND_WAY bandWay, BAND_TOTAL bandTotal,
	BAND_PUBLIC bandPublic, BAND_AGE bandAge
	from band
	where BAND_NO = #{bandNo}
</select>

<insert id="bandJoin" parameterType="Model.BandJoinDTO">
	insert into band_join(MEM_ID,BAND_NO,BANDJOIN_INTRO, BAND_ALLOW)
	values(#{memId},#{bandNo},#{bandJoinIntro},#{bandAllow})
</insert>
<select id="countBank" parameterType="Model.BandDTO" resultType="int">
	select count(*) from band_join where MEM_ID = #{memId} and  BAND_NO = #{bandNo}     
</select> 
<select id="bandIntro" parameterType="long" resultType="Model.BandDTO">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg,band_Img2 bandImg2,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge
	from band
	where band_No = #{bandNo}
</select>
</mapper>

