<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.bandMapper">
<select id="bandNo" resultType="string">
	select num_seq.nextval from dual
</select>

<!-- 밴드 위시관련 -->
<insert id="bandWish" parameterType="Model.BandWishDTO">
	insert into band_wishlist(band_no, mem_id, mem_id2)
	values (#{bandNo}, #{memId}, #{memId2}) 

</insert>

<select id="wishChk" parameterType="Model.BandWishDTO" resultType="int">
	select count(band_no) from band_wishlist
	where band_no = #{bandNo} AND mem_id = #{memId}
</select>

<delete id="wishDel" parameterType="Model.BandWishDTO">
	delete from band_wishlist where band_no = #{bandNo} AND mem_id = #{memId}
</delete>

<!-- 밴드 찜 목록 보기 -->
<select id="wishBand" parameterType="string" resultType="Model.BandDTO">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, mem_Id memId
	from band
	where band_No in (select band_No from BAND_WISHLIST where mem_id = #{memId})
</select>

<select id="bandList" resultType="Model.BandDTO">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, mem_Id memId
	from band
	where mem_Id = #{memId}
</select>

<select id="joinBandList" resultType="Model.BandDTO">
	select bj.band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, bj.mem_Id memId
	from band_join bj ,band b
	where bj.band_No = b.band_No
	and   bj.mem_Id = #{memId}
</select>

<insert id="bandWrite" parameterType="Model.BandDTO">
	insert into band(band_No, band_Name, band_Category_L, band_Category_S,
			band_Img, band_RegiDay, band_Introduce, band_Gender, band_Way,
			band_Total, band_Public, band_Age, mem_Id, band_Img2)
	values(#{bandNo},#{bandName},#{bandCategoryL},#{bandCategoryS},
		#{bandImg},sysdate,#{bandIntroduce},#{bandGender},#{bandWay},
		#{bandTotal},#{bandPublic},#{bandAge},#{memId}, #{bandImg2})
</insert>
<select id="bandAllList" resultType="Model.BandDTO" parameterType="string">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge
	from band
	where band_Category_S = #{bandCategoryS }
</select>

<select id="bandIntro" parameterType="long" resultType="Model.BandDTO">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg,band_Img2 bandImg2,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, mem_id memId
	from band
	where band_No = #{bandNo}
</select>
</mapper>
