<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.bandMapper">

<select id="bandNo" resultType="string">
	select num_seq.nextval from dual
</select>

<insert id="bandWish" parameterType="Model.BandDTO">
	merge into band_Wishlist bw
	using (select band_no from Band where band_no=#{bandNo}) b1
	on (bw.band_no = b1.band_no and bw.mem_Id = #{bandNo})
	when matched then
		update
	when not matched then
		insert
</insert>

<select id="bandList" resultType="Model.BandDTO">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, mem_Id memId
	from band
	where mem_Id = #{memId}
</select>

<select id="joinBandList" resultType="Model.BandDTO">
	select bj.band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge, bj.mem_Id memId
	from band_join bj ,band b
	where bj.band_No = b.band_No
	and   bj.mem_Id = #{memId}
</select>

<insert id="bandWrite" parameterType="Model.BandDTO">
	insert into band(band_No, band_Name, band_Category_L, band_Category_S,
			band_Img, band_RegiDay, band_Introduce, band_Gender, band_Way,
			band_Total, band_Public, band_Age, mem_Id, band_Img2)
	values(#{bandNo},#{bandName},#{bandCategoryL},#{bandCategoryS},
		#{bandImg},sysdate,#{bandIntroduce},#{bandGender},#{bandWay},
		#{bandTotal},#{bandPublic},#{bandAge},#{memId}, #{bandImg2})
</insert>
<select id="bandAllList" resultType="Model.BandDTO" parameterType="string">
	select band_No bandNo, band_Name bandName, band_Category_L bandCategoryL, 
			band_Category_S bandCategoryS,band_Img bandImg, band_RegiDay bandRegiDay,
			band_Introduce bandIntroduce, band_Gender bandGender, band_Way bandWay,
			band_Total bandTotal, band_Public bandPublic, band_Age bandAge
	from band
	where band_Category_S = #{bandCategoryS }
</select>

</mapper>
