<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.classMapper">
<resultMap type="Model.ClassDTO" id="baseResult">
	<id column="class_No" property="classNo"/>
	<result column="class_Name" property="className"/> 
	<result column="class_Category_L" property="classCategoryL"/>
	<result column="class_Category_S" property="classCategoryS"/>
	<result column="class_Price" property="classPrice"/>
	<result column="class_Gender" property="classGender"/>
	<result column="class_Way" property="classWay"/>
	<result column="class_Introduce" property="classIntroduce"/>
	<result column="class_Start" property="classStart"/>
	<result column="class_End" property="classEnd"/>
	<result column="class_Total" property="classTotal"/>
	<result column="class_Img" property="classImg"/>
	<result column="tutor_Id" property="tutorId"/>
	<result column="class_Regiday" property="classRegiday"/>
	<result column="class_State" property="classState"/>
	<result column="class_City" property="classCity"/>
</resultMap>
<select id="classNo" resultType="string">
	select class_num.nextval
	from dual
</select>
<insert id="classOpen" parameterType="Model.ClassDTO">
	insert into Soomta_Class(
	tutor_Id, class_Name, class_Img, class_Start, class_End, 
	class_Introduce, class_Category_L, class_Category_S, class_Price, class_Gender, class_Way, 
	class_Total, class_No, class_Regiday, class_City, class_Area, class_Img2) 
	values (
	#{tutorId}, #{className}, #{classImg}, #{classStart}, #{classEnd}, 
	#{classIntroduce}, #{classCategoryL}, #{classCategoryS}, #{classPrice}, #{classGender}, #{classWay}, 
	#{classTotal}, #{classNo}, sysdate, #{classCity}, #{classArea}, #{classImg2})
</insert>
<select id="tutorClassList" resultType="Model.ClassDTO" parameterType="string">
	select class_No classNo, tutor_Id tutorId, class_Name className, class_Img classImg, class_Regiday classRegiday, class_Start classStart, class_End classEnd, class_Introduce classIntroduce, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Price classPrice, class_Gender classGender, class_Way classWay, class_State classState, class_Total classTotal, class_City classCity, class_Area classArea, class_Img2 classImg2 
	from Soomta_Class
	where tutor_Id = #{tutorId}
	order by classNo DESC
</select>
<select id="classDetail" parameterType="string" resultType="Model.ClassDTO">
	select class_No classNo, class_Name className, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Start classStart, class_End classEnd, 
	class_Total classTotal, class_Price classPrice, class_Way classWay, class_Gender classGender, class_Introduce classIntroduce, class_Img classImg, class_City classCity, class_Area classArea, class_Img2 classImg2
	from Soomta_Class 
	where class_No = #{classNo}
</select>
<delete id="classDelete" parameterType="string">
	delete from Soomta_Class
	where class_No = #{classNo}
</delete>
<update id="classRetouch" parameterType="Model.ClassDTO">
	update Soomta_Class
	set class_Name = #{className}, class_Category_L = #{classCategoryL}, class_Category_S = #{classCategoryS}, 
	class_Start = #{classStart}, class_End = #{classEnd}, 
	class_Total = #{classTotal}, class_Price = #{classPrice}, class_Way = #{classWay}, 
	class_Gender = #{classGender}, class_Introduce = #{classIntroduce}, class_Img = #{classImg},
	class_City = #{classCity}, class_Area = #{classArea}  , class_Img2 = #{classImg2}
	where class_No = #{classNo}
</update>
<select id="classCount" resultType="int" parameterType="string">
	select count(*) 
	from Soomta_Class
	where tutor_Id = #{tutorId}
</select>
<select id="classList" parameterType="string" resultType="Model.ClassDTO">
	select class_No classNo, tutor_Id tutorId, class_Name className, class_Img classImg, class_Regiday classRegiday, class_Start classStart, class_End classEnd, class_Introduce classIntroduce, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Price classPrice, class_Gender classGender, class_Way classWay, class_State classState, class_Total classTotal, class_City classCity, class_Area classArea 
	from Soomta_Class
	where class_Category_S = #{classCategoryS} 
	order by classRegiday desc
</select>
<select id="reviewViewList" parameterType="string" resultType="Model.ReviewDTO">
	select class_Satisfy classSatisfy, tutor_Satisfy tutorSatisfy, review_RegiDay reviewRegiDay, review_Contents reviewContents, purchase_No purchaseNo, class_No classNo, tutor_Id tutorId
	from review
	where class_No = #{classNo}
</select>
<select id="reviewCount" resultType="int" parameterType="string">
	select count(*) 
	from review
	where class_No = #{classNo}
</select>
<select id="classSatisfyCount" resultType="double" parameterType="string">
	select round(avg(class_Satisfy),1)
	from review
	where class_No = #{classNo}
</select>
<select id="tutorSatisfyCount" resultType="double" parameterType="string">
	select round(avg(tutor_Satisfy),1)
	from review
	where class_No = #{classNo}
</select>
<select id="tutorSatisTfyAllCount" resultType="double" parameterType="string">
	select round(avg(tutor_Satisfy),1)
	from review
	where tutor_Id = #{tutorId}
</select>
<select id="classDetailPage" parameterType="string" resultType="Model.ClassDTO">
	select class_No classNo, tutor_Id tutorId, class_Name className, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Start classStart, class_End classEnd, 
	class_Total classTotal, class_Price classPrice, class_Way classWay, class_Gender classGender, class_Introduce classIntroduce, class_Img classImg, class_Img2 classImg2
	from Soomta_Class 
	where class_No = #{classNo}
</select> 
<insert id="classWish" parameterType="Model.WishDTO">
	insert into class_wishlist(class_no, mem_id, tutor_id)
	values (#{classNo}, #{memId}, #{tutorId})

</insert>
<select id="wishChk" parameterType="Model.WishDTO" resultType="int">
	select count(class_no) from class_wishlist
	where class_no = #{classNo} AND mem_id = #{memId}
</select>
<delete id="wishDel" parameterType="Model.WishDTO">
	delete from class_wishlist where class_no = #{classNo} AND mem_id = #{memId}
</delete>
<!-- 강의 찜목록 보기 -->
<select id="wishClass" parameterType="string" resultType="Model.ClassDTO">
	select class_No classNo, class_Name className, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Start classStart, 
	class_End classEnd, class_Total classTotal, class_Area classArea , class_City classCity, tutor_Id tutorId
	from Soomta_Class 
	where class_No in (select class_No from CLASS_WISHLIST where mem_id = #{memId})
</select>

<!--<select id="classDetailPage" parameterType="string" resultType="Model.ClassDTO">
	select class_No classNo, t.tutor_Id tutorId, class_Name className, class_Category_L classCategoryL, class_Category_S classCategoryS, class_Start classStart, class_End classEnd, 
	class_Total classTotal, class_Price classPrice, class_Way classWay, class_Gender classGender, class_Introduce classIntroduce, class_Img classImg, t.tutor_Respond tutorRespond
	from Soomta_Class c, tutor t
	where class_No = #{classNo} and t.tutor_Id = #{tutorId}
</select>-->

</mapper>