<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.logInMapper">

<select id="logIn" parameterType="string" resultType="Model.LogInDTO">
	select mem_id userId, mem_pw userPw, mem_email userEmail, 'mem' grade 
	from member where mem_id = #{userId}
	union
	select tutor_id, tutor_pw, tutor_email, 'tutor' 
	from tutor where tutor_id = #{userId} 
	union
	select emp_id, emp_pw, emp_email, 'emp' 
	from employees where emp_id = #{userId}
</select>

<select id="mIdFind" parameterType="Model.MemberDTO" resultType="string">
	select mem_Id memId from member
	where mem_Name = #{memName} and mem_Dob = #{memDob} and mem_Email = #{memEmail}
</select>

<select id="tIdFind" parameterType="Model.TutorDTO" resultType="string">
	select tutor_Id tutorId from tutor
	where tutor_Name = #{tutorName} and tutor_Dob = #{tutorDob} and tutor_Email = #{tutorEmail}
</select>

<select id="idCheck" parameterType="string" resultType="int">
    select sum(cnt) from 
    (select count(*)cnt from tutor where tutor_id = #{id}
    union
    select count(*)cnt from member where mem_id = #{id}
    union
    select count(*)cnt from employees where emp_id = #{id})
</select>

<select id="emailCheck" parameterType="string" resultType="int">
	select count(*) from tutor where tutor_email = #{email}
</select>

<select id="emailCheckM" parameterType="string" resultType="int">
	select count(*) from member where mem_email = #{email}
</select>

<select id="emailCheckE" parameterType="string" resultType="int">
	select count(*) from employees where emp_email = #{email}
</select>
</mapper> 