<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.tutorMapper">

<insert parameterType="Model.TutorDTO" id="tutorInsert">insert into tutor 
(tutor_Id, tutor_Pw, tutor_Name , tutor_Phone , tutor_Gender ,tutor_Dob , tutor_Email , tutor_Email_Ck , tutor_Area , tutor_Since , tutorLikearea)
values(#{tutorId}, #{tutorPw},#{tutorName}, #{tutorPhone}, #{tutorGender},#{tutorDob}, #{tutorEmail}, #{tutorEmailCk}, #{tutorArea}, #{tutorLikearea} sysdate) </insert>

<!-- 튜터탈퇴 -->
<delete id="tutorOut" parameterType="string">
	DELETE FROM Tutor
	WHERE Tutor_Id = #{tutorId}
</delete>

<delete id="tutorDelete" parameterType="string">
	delete from tutor
	where tutor_Id = #{tutorId}
</delete>

<update id="tutorPwUpdate" parameterType="Model.TutorDTO">
	update tutor
	SET Tutor_Pw = #{tutorPw}
	WHERE tutor_Id = #{tutorId}
</update>

<!-- 튜터 개인정보 수정 -->
<update id="perDataUpdate" parameterType="Model.TutorDTO">
	UPDATE Tutor SET 
	tutor_Name = #{tutorName},  
	tutor_Email = #{tutorEmail},
	tutor_Phone = #{tutorPhone}
	WHERE tutor_id = #{tutorId}
</update>

<!-- 튜터 강의정보 수정 -->
<update id="promanageSujung" parameterType="Model.TutorDTO">
	UPDATE Tutor SET 
	tutor_Likearea = #{tutorLikearea},  
	tutor_Respond = #{tutorRespond},
	tutor_Career = #{tutorCareer},
	tutor_Certification = #{tutorCertification},
	tutor_FinalEdu = #{tutorFinalEdu},
	tutor_Introduce = #{tutorIntroduce},
	tutor_Image = #{tutorImage}
	
	WHERE tutor_id = #{tutorId}
</update>


<!-- 튜터 개인정보  -->
<select id="perData" parameterType="string" 
		resultType="Model.TutorDTO">
	select tutor_Id tutorId, tutor_Name tutorName,tutor_Since tutorSince, tutor_Dob tutorDob,tutor_Gender tutorGender, tutor_Email tutorEmail,
	 	   tutor_Phone tutorPhone, tutor_Pw tutorPw
	from tutor
	where Tutor_ID = #{tutorId}
</select>

<!-- 튜터 강의정보 -->


<select parameterType="string" id="promanage" resultType="Model.TutorDTO">
select tutor_Id tutorId, tutor_Likearea tutorLikearea, tutor_Respond tutorRespond,
tutor_Career tutorCareer,tutor_Certification tutorCertification,tutor_FinalEdu tutorFinalEdu, tutor_Introduce tutorIntroduce,
tutor_Image tutorImage from tutor where Tutor_ID = #{tutorId} </select>

<!-- 튜터 비번 수정 -->
<update id="pwChange" parameterType="Model.TutorDTO"> 
	UPDATE Tutor SET
	Tutor_Pw = #{tutorPw}
	WHERE Tutor_Id = #{tutorId}
</update>

</mapper>
