<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.class1.ClassCtgrController" />
	<bean class="controller.class1.EducationCtgrController" />
	<bean class="controller.class1.RetackCtgrController"	/>
	<bean class="controller.class1.CtificateCtgrConroller"/>
	<bean class="controller.class1.ArtCtgrController"/>
	<bean class="controller.class1.EmployementCtgrController"/>
</beans>