<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.main.MainController"/>
	<bean class="controller.main.LogInController"/>
	<bean class="controller.main.FaqController"/>
	<bean class="controller.main.PolicyController"/>
	<bean class="controller.main.SoomtaController"/>
	<bean id="logInService" class="service.logIn.LogInService"/>
	<bean id="logInRepository" class="repository.LogInRepository"/>
	<bean id="cookieService" class="service.logIn.CookieService"/>
	<bean class="service.faq.TutorListService"/>
	<bean class="repository.FaqRepository"/>
	<bean class="service.faq.MemListService"/>
	<bean class="service.faq.FaqViewService"/>
	<bean class="service.faq.HireListService"/>
	<bean class="service.logIn.FindService"/>
</beans>