<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.class1.ClassCtgrController" />
	<bean class="controller.class1.EducationCtgrController" />
	<bean class="controller.class1.RetackCtgrController"	/>
	<bean class="controller.class1.CtificateCtgrConroller"/>
	<bean class="controller.class1.ArtCtgrController"/>
	<bean class="controller.class1.EmployementCtgrController"/>
	<bean class="repository.ClassRepository"/>
	<bean class="controller.class1.TutorClassController"/>
	<bean class="service.class1.ClassOpenService"/>
	<bean class="service.class1.TutorClassListService"/>
	<bean class="service.class1.ClassNumberService"/>
	<bean class="service.class1.ClassDetailService"/>
	<bean class="service.class1.ClassDeleteService"/>
	<bean class="service.class1.ClassRetouchService"/>
	<bean class="service.class1.ClassListService"/>
	<bean class="service.class1.ClassDetailPageService"/>
</beans>