<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.tutor.TutorController"/>
	<bean id="tutorJoinService" class="service.tutor.TutorJoinService"/>
	<bean id="tutorRepository" class="repository.TutorRepository"/>
	<bean class="service.tutor.TutorOutService"/>
	<bean id = "tutorInfoService" class="service.tutor.TutorInfoService" />
	<bean id = "tutorOutService" class="service.tutor.TutorOutService" />
	<bean id = "tutorPromanageService" class="service.tutor.TutorPromanageService" />
	<bean id = "tutorUpdateService" class="service.tutor.TutorUpdateService" />
	<bean id = "tutorPwChangeService" class="service.tutor.TutorPwChangeService" />
	
	
</beans>